body {
    /*background-image: url(../Res/bg.png);*/
    background-color: white;
    background-attachment: fixed;
    font-size: 16px;
}


.fixed {
    position: fixed;
    width: 100%;
}

.postHeader {
    background-color: #0274cc;
    color: white;
}

.bgFooter {
    background-color: #001b2d;
    color: white;
}

.photo img {
    max-height: 600px;
}

.mor {
    border-radius: 50px;
    width: auto;
}

.tit {
    background-color: #0274cc;
    color: white;
    border-radius: 30px;
    text-align: center;
    width: 100%;
}

.ac {
    align-content: center;
}

.w {
    border-radius: 30px;
}

.w2 {
    border-radius: 65px;
}

.media img {
    width: 64px;
}

.lw {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.rw {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.mh {
    min-height: 180px;
    position: center center;
}

.center {
  text-align: center;
}

.f {
    padding: 4px;
    padding-bottom:30px;
}

.r {
    text-align: right;
}

.l {
    text-align: left;
}

.Iicon {
    width: 60px;
}

.rot {
    transition: all 0.8s ease;
}

.rot:hover {
    transform: rotate(-360deg);
    border-radius: 150px;
}

.rot:hover img {
    transform: rotate(-360deg);
    border-radius: 150px;
}

.rotp {
    transition: all 1s ease;
    border-radius: 150px;
}

.rotp img {
    border-radius: 150px;
}

.rotp:hover {
    transform-origin: center;
    transform: rotateY(360deg);
}

.rotp:hover img {
    transform-origin: center;
    transform: rotateY(360deg);
}

.rotw {
    transition: all 0.3s ease;
    border-radius: 150px;
}

.rotw img {
    border-radius: 200px;
}

.rotw:hover {
    transform: translate(0px, 40px);
}

::selection {
    background-color: black;
    color: white
}

.f ::selection {
    background-color: white;
    color: black
}
